{% extends "base.html" %} 
{% load i18n %} 
{% load display_functions %} 
{% load crispy_forms_tags %}

{% block extra_head_title %}
	{% trans 'Upload users' %}
{% endblock extra_head_title %}

{% block content %}

<h2>{% trans 'Upload users' %}</h2>

{% blocktrans %}
<p>You may only upload a 'CSV' file.</p>
<p>The following columns/fields are required:</p>
<ul>
	<li>username</li>
	<li>email</li>
	<li>firstname</li>
	<li>lastname</li>
	<li>status(<strong>Note: This should include just Tutor and Student</strong>)</li>
	<li>phone_number(<strong style="color:red">Note: When entering phone numbers in CSV file preceed every entry with one single quote: ' </strong>)</li>
	<li>year_group</li>
	<li>program</li>
	<li>school_code</li>
</ul>

<p>You may also optionally add the following columns/fields:</p>
<ul>
	<li>password (note: if you do not add a password, one will be randomly generated)</li>
	<li>phone_number_two(<strong style="color:red">Note: When entering phone numbers in CSV file preceed every entry with one single quote: ' </strong>)</li>
	<li>phone_number_three(<strong style="color:red">Note: When entering phone numbers in CSV file preceed every entry with one single quote: ' </strong>)</li>
	<li>home_town</li>
	<li>other columns that match your user profile definition</li>
</ul>

{% endblocktrans %}

{% if results %}
	<h3>{% trans 'Upload results' %}</h3>
	<div class="table-responsive">
         <table class="table table-striped-expandable">
         	 <thead>
                <tr>
                  <th>{% trans 'Username' %}</th>
                  <th>{% trans 'Results' %}</th>
                </tr>
              </thead>
              <tbody>
	{% for r in results %}
				<tr>
					<td>{{ r.username }}</td>
					<td>{{ r.message }}</td>
				</tr>
	{% endfor %}
			</tbody>
 		</table>
 	</div>
{% endif %}

<h3>{% trans 'Upload user file ' %}</h3>
{% crispy form %}

{% endblock %}