{% extends "base.html" %}
{% load i18n %}
{% load display_functions %} 
{% block extra_head_title %}
	{{ title }}
{% endblock extra_head_title %}

{% block content %}

<h2>{{ title }}</h2>

<table class="table table-striped-expandable" id="userTable">
<thead>
    <tr>
        <th>Module</th>
        <th>Course</th>
        <th>Number of Users</th>
    </tr>
</thead>
<tbody>
    {% for item in module_list %}
    <tr> 
        <td>{{ item.mtitle|title_lang:LANGUAGE_CODE}}</td>
        <td>{{ item.ctitle|title_lang:LANGUAGE_CODE}}</td>
        <td>{{ item.c}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

<script type="text/javascript">
     $("#export").click(function () {
      
     $('#userTable').tableExport({
                    separator: ',',
                    type:'excel',
                    tableName:'userTable',
                    escape:'false',
                    htmlContent:'false',
                    consoleLog:'true'
                });

});
      $(document).ready(function(){
   var table= $('#userTable').DataTable(
        {
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf', 'print' 
                    ]
        });
    table.buttons().container()
        .appendTo( '#example_wrapper .col-sm-6:eq(0)' );
});
</script>
{% endblock %}