{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block extra_head_title %}
	{{ title }}
{% endblock extra_head_title %}

{% block content %}

<h2>{{ title }}</h2>
{% trans 'Filter by User Role: ' %}
{% crispy form %}
<table class="table table-striped-expandable" id="userTable">
<thead>
    <tr>
		<th>Name</th>
        <th>Phone Number</th>
        <th>School</th>
        <th>Year Group</th>
        <th>Role</th>
        <th>Status</th>
        <th>Last Login</th>
    </tr>
</thead>
<tbody>
    {% for item in school_list %}
    <tr> 
        <td>{{ item.user.first_name }} {{ item.user.last_name }}</td>
        <td>{{ item.phone_number }}</td>
        <td>{{ item.school_code }}</td>
        <td>{{ item.year_group }}</td>
        <td>{{ item.status }}</td>
         {% if item.user.is_active == 1 %}
        <td>
        {{"ACTIVE"}}
        </td>
        {% else %}
        <td>
        {{"INACTIVE"}}
        </td>
        {% endif %}
        <td>{{ item.user.last_login }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>



<script type="text/javascript">
$(document).ready(function(){
   var table= $('#userTable').DataTable(
        {
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf', 'print' 
                    ]
        });
    table.buttons().container()
        .appendTo( '#example_wrapper .col-sm-6:eq(0)' );
});

</script>
{% endblock %}